div.col {
  padding: 0%;
}
.jewelry-navbar {
  background-color: gold;
  color: black;
  font-size: 18px;
  /* add any other styles that you want */
}

.form-control {
  background-color: white;
  color: black;
}
.login-icon {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
#basic-nav-dropdown {
  width: 80px;
}

/* CSS FOR CART ICON*/
.navbar__cart-icon {
  /* height: 20px; */
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 5px;
}

.sliderimg {
  width: 100%;
  height: 530px;
}
.slidersize {
  width: 100%;
  height: 550px;
}
.third h1 {
  margin-left: 2.5%;
  font-family: "Times New Roman", Times, serif;
  color: gold;
}
div.card {
  margin: auto;
  padding: 1rem;
}
div.col-md-4 li {
  display: flex;
}
.soci ul {
  display: flex;
}
/* .soci ul li{
    margin-left: 1rem;
  }
   */
.footer {
  /* background-color:silver; */
  margin-top: 2rem;
  /* border-radius: 2rem; */
}
.soci ul li:hover {
  transform: scale(1.4);
  transition: transform 0.2s ease-in-out;
}
.crd {
  cursor: pointer;
  padding: 20px;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}
.crd:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.btn-outline-primary {
  margin-left: 50px;
}
div.col-md-12 {
  background-color: silver;
}
.rbtn {
  margin-top: 20px;
}
.lbtn {
  margin-top: 20px;
}

/* CSS OF ABOUT PAGE*/
.about {
  padding: 80px 0;
  background-color: #f9f9f9;
}

.about h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.about .lead {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

.about p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 30px;
}

.about h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about ul {
  list-style: none;
  padding-left: 0;
}

.about ul li {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 10px;
}
/*CSS FOR CONTACT PAGE */
.cbtn {
  margin-top: 10px;
}

/* CSS FOR DETAILS PAGE */
div.container.py-5 {
  padding-left: 2.5rem;
}
/* CSS FOR PAYMENT PAGE*/
#pbtn {
  margin-top: 1rem;
  width: 40%;
  margin-left: 30%;
}
#p2btn {
  margin-top: 1rem;
  width: 40%;
  margin-left: 30%;
  /* margin-left: 3rem; */
}

/* login page*/
.cl{
    margin:10px
}
/* register page*/
.cr{
  margin: 10px;
}
